# ML2CPP

## Preparing the dataset

In [1]:
from sklearn import datasets
import numpy as np
import pandas as pd

boston = datasets.load_boston()

def populate_table(tablename, feature_names):
    X = boston.data  
    y = boston.target
    N = X.shape[0]
    y = y.reshape(N,1)
    k = np.arange(N).reshape(N, 1)
    k_X_y = np.concatenate((k, X, y) , axis=1)
    lTable=pd.DataFrame(k_X_y)
    # print(lTable.head())
    lTable.columns = ['idx'] + feature_names + ['TGT'];
    lTable['TGT'] = lTable['TGT'].apply(int)
    lTable['idx'] = lTable['idx'].apply(int)
    lTable.to_csv(tablename , float_format='%.14g')

In [2]:
metadata = {"primary_key" : "KEY",
            "features" : list(boston.feature_names),
            "targets" : ["TGT"],
            "table" : "iris"}

In [3]:
populate_table("/tmp/boston.csv" , metadata["features"])

In [4]:
df = pd.read_csv("/tmp/boston.csv")
df.sample(12, random_state=1960)

,Unnamed: 0,idx,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TGT
230,230,230,0.53700,0.0,6.20,0,0.504,5.981,68.1,3.6715,8,307,17.4,378.35,11.65,24
112,112,112,0.12329,0.0,10.01,0,0.547,5.913,92.9,2.3534,6,432,17.8,394.95,16.21,18
125,125,125,0.16902,0.0,25.65,0,0.581,5.986,88.4,1.9929,2,188,19.1,385.02,14.81,21
9,9,9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18
213,213,213,0.14052,0.0,10.59,0,0.489,6.375,32.3,3.9454,4,277,18.6,385.81,9.38,28
109,109,109,0.26363,0.0,8.56,0,0.520,6.229,91.2,2.5451,5,384,20.9,391.23,15.55,19
127,127,127,0.25915,0.0,21.89,0,0.624,5.693,96.0,1.7883,4,437,21.2,392.11,17.19,16
244,244,244,0.20608,22.0,5.86,0,0.431,5.593,76.5,7.9549,7,330,19.1,372.49,12.50,17
406,406,406,20.71620,0.0,18.10,0,0.659,4.138,100.0,1.1781,24,666,20.2,370.22,23.34,11
490,490,490,0.20746,0.0,27.74,0,0.609,5.093,98.0,1.8226,4,711,20.1,318.43,29.68,8
245,245,245,0.19133,22.0,5.86,0,0.431,5.605,70.2,7.9549,7,330,19.1,389.13,18.46,18
133,133,133,0.32982,0.0,21.89,0,0.624,5.822,95.4,2.4699,4,437,21.2,388.69,15.03,18

## Training a Model

In [5]:


# train any scikit model on the iris dataset

from sklearn.decomposition import PCA

clf = PCA(n_components = 5)

clf.fit(df[metadata['features']].values, df[metadata['targets']].values)

PCA(n_components=5)

## Deploying the Model

In [6]:

def generate_cpp_for_model(model):
    import pickle, json, requests, base64
    b64_data = base64.b64encode(pickle.dumps(model)).decode('utf-8')
    # send the model th the web service
    json_data={"Name":"model_cpp_sample", 
               "PickleData":b64_data , 
               "SQLDialect":"CPP",
               "FeatureNames" : metadata['features']}
    r = requests.post("https://sklearn2sql.herokuapp.com/model", json=json_data)
    content = r.json()
    lCPP = content["model"]["SQLGenrationResult"][0]["SQL"]
    # print(lCPP);
    return lCPP


lCPPCode = generate_cpp_for_model(clf);

In [7]:
print(lCPPCode)

namespace  {

	std::vector<std::string> get_input_names(){
		std::vector<std::string> lFeatures = { "Feature_0", "Feature_1", "Feature_2", "Feature_3", "Feature_4", "Feature_5", "Feature_6", "Feature_7", "Feature_8", "Feature_9", "Feature_10", "Feature_11", "Feature_12" };

		return lFeatures;
	}

	std::vector<std::string> get_output_names(){
		std::vector<std::string> lOutputs = { "pca_1", "pca_2", "pca_3", "pca_4", "pca_5" };

		return lOutputs;
	}

	tTable compute_features(std::any Feature_0, std::any Feature_1, std::any Feature_2, std::any Feature_3, std::any Feature_4, std::any Feature_5, std::any Feature_6, std::any Feature_7, std::any Feature_8, std::any Feature_9, std::any Feature_10, std::any Feature_11, std::any Feature_12) {

		tTable lTable;

		lTable["pca_1"] = { ( Feature_0 - 3.613523557312254 ) * 0.029297321820619872 + ( Feature_1 - 11.363636363636363 ) * -0.04358979997506662 + ( Feature_2 - 11.13677865612648 ) * 0.02833093821310885 + ( Feature_3 - 0.0691699604743083 ) * -5.5584635024006376e-05 + ( Feature_4 - 0.5546950592885376 ) * 0.0004497218177019952 + ( Feature_5 - 6.284634387351779 ) * -0.0011681586009661023 + ( Feature_6 - 68.57490118577076 ) * 0.08363357457850254 + ( Feature_7 - 3.795042687747036 ) * -0.006561633596258629 + ( Feature_8 - 9.549407114624506 ) * 0.04500537527873753 + ( Feature_9 - 408.2371541501976 ) * 0.9497411689096684 + ( Feature_10 - 18.455533596837945 ) * 0.005600117208643979 + ( Feature_11 - 356.6740316205534 ) * -0.29121851404998783 + ( Feature_12 - 12.653063241106722 ) * 0.022943375558294687 };
		lTable["pca_2"] = { ( Feature_0 - 3.613523557312254 ) * 0.006668472770888699 + ( Feature_1 - 11.363636363636363 ) * 0.0011756482125760345 + ( Feature_2 - 11.13677865612648 ) * -0.004949756238674314 + ( Feature_3 - 0.0691699604743083 ) * -0.00010267885010944338 + ( Feature_4 - 0.5546950592885376 ) * 1.8206986696794258e-06 + ( Feature_5 - 6.284634387351779 ) * 0.0003657501081906038 + ( Feature_6 - 68.57490118577076 ) * -0.00572246651911105 + ( Feature_7 - 3.795042687747036 ) * 0.0003536851088647741 + ( Feature_8 - 9.549407114624506 ) * -0.00861865948396274 + ( Feature_9 - 408.2371541501976 ) * -0.2924063080033607 + ( Feature_10 - 18.455533596837945 ) * -0.0025289853821321403 + ( Feature_11 - 356.6740316205534 ) * -0.9561805512563772 + ( Feature_12 - 12.653063241106722 ) * 0.005767198650282769 };
		lTable["pca_3"] = { ( Feature_0 - 3.613523557312254 ) * -0.01147936449155056 + ( Feature_1 - 11.363636363636363 ) * 0.6328974813041551 + ( Feature_2 - 11.13677865612648 ) * -0.08834036031170088 + ( Feature_3 - 0.0691699604743083 ) * -0.000975320360069167 + ( Feature_4 - 0.5546950592885376 ) * -0.0018072021547360102 + ( Feature_5 - 6.284634387351779 ) * 0.004733971098140799 + ( Feature_6 - 68.57490118577076 ) * -0.7558630747314482 + ( Feature_7 - 3.795042687747036 ) * 0.04508841597402274 + ( Feature_8 - 9.549407114624506 ) * 0.002847870880627379 + ( Feature_9 - 408.2371541501976 ) * 0.09386444766428892 + ( Feature_10 - 18.455533596837945 ) * -0.011159264870818201 + ( Feature_11 - 356.6740316205534 ) * -0.02356282305030205 + ( Feature_12 - 12.653063241106722 ) * -0.09283330035056114 };
		lTable["pca_4"] = { ( Feature_0 - 3.613523557312254 ) * 0.027130963179756454 + ( Feature_1 - 11.363636363636363 ) * 0.7680589905756036 + ( Feature_2 - 11.13677865612648 ) * -0.012800721001880525 + ( Feature_3 - 0.0691699604743083 ) * 0.0008543895840668638 + ( Feature_4 - 0.5546950592885376 ) * 0.0006796552263304272 + ( Feature_5 - 6.284634387351779 ) * 0.005701278886047014 + ( Feature_6 - 68.57490118577076 ) * 0.636608644639827 + ( Feature_7 - 3.795042687747036 ) * 0.002574187571567018 + ( Feature_8 - 9.549407114624506 ) * -0.019560200377276595 + ( Feature_9 - 408.2371541501976 ) * -0.019979416428102414 + ( Feature_10 - 18.455533596837945 ) * -0.03201079715746563 + ( Feature_11 - 356.6740316205534 ) * 0.004036964330669329 + ( Feature_12 - 12.653063241106722 ) * 0.04529661437625756 };
		lTable["pca_5"] = { ( Feature_0 - 3.613523557312254 ) * 0.9523380649098866 + ( Feature_1 - 11.363636363636363 ) * -0.005672139952119872 + ( Feature_2 - 11.13677865612648 ) * -0.05710486240279305 + ( Feature_3 - 0.0691699604743083 ) * -0.0021690585939772816 + ( Feature_4 - 0.5546950592885376 ) * -0.0001658623744100789 + ( Feature_5 - 6.284634387351779 ) * -0.013280515844187067 + ( Feature_6 - 68.57490118577076 ) * -0.04630507601575017 + ( Feature_7 - 3.795042687747036 ) * -0.006538742301123274 + ( Feature_8 - 9.549407114624506 ) * 0.17227879632244383 + ( Feature_9 - 408.2371541501976 ) * -0.032703476860739614 + ( Feature_10 - 18.455533596837945 ) * 0.021837296225089658 + ( Feature_11 - 356.6740316205534 ) * 0.01701621008078964 + ( Feature_12 - 12.653063241106722 ) * 0.23637921234043385 };

		return lTable;
	}

	tTable compute_model_outputs_from_table( tTable const & iTable) {
		tTable lTable = compute_features(iTable.at("Feature_0")[0], iTable.at("Feature_1")[0], iTable.at("Feature_2")[0], iTable.at("Feature_3")[0], iTable.at("Feature_4")[0], iTable.at("Feature_5")[0], iTable.at("Feature_6")[0], iTable.at("Feature_7")[0], iTable.at("Feature_8")[0], iTable.at("Feature_9")[0], iTable.at("Feature_10")[0], iTable.at("Feature_11")[0], iTable.at("Feature_12")[0]);

		return lTable;
	}

} // eof namespace

In [8]:
    def write_text_to_file(iCPPCode, oCPPFile):          
        with open(oCPPFile, "w") as text_file:
            text_file.write(iCPPCode)

    def add_cpp_main_function(iCPPCode, iCSVFile):
        lCPPCode = "#include \"Generic.i\"\n\n"
        lCPPCode = lCPPCode + iCPPCode
        lCPPCode = lCPPCode + "\tint main() {\n"
        lCPPCode = lCPPCode + "\t\tscore_csv_file(\"" + iCSVFile +"\");\n"
        lCPPCode = lCPPCode + "\treturn 0;\n}\n"
        return lCPPCode

    def compile_cpp_code_as_executable(iName):
        import subprocess
        lCommand = ["g++", "-Wall", "-Wno-unused-function", "-std=c++17" , "-g" ,  "-o", iName + ".exe",  iName + ".cpp"]
        print("EXECUTING" , "'" + " ".join(lCommand) + "'")
        result = subprocess.check_output(lCommand)
        # print(result)

    def execute_cpp_model(iName, iCSVFile):
        import subprocess
        result2 = subprocess.check_output([iName + ".exe",  iCSVFile])
        result2 = result2.decode()
        print(result2[:100])
        print(result2[-100:])
        return result2
        
    def execute_cpp_code(iCPPCode, iCSVFile):
        lName = "/tmp/sklearn2sql_cpp_" + str(id(clf));
        lCPPCode = add_cpp_main_function(iCPPCode, iCSVFile)
        write_text_to_file(lCPPCode, lName + ".cpp")
        compile_cpp_code_as_executable(lName)
        result = execute_cpp_model(lName, iCSVFile)
        write_text_to_file(str(result), lName + ".out")
        return lName + ".out"

In [9]:
populate_table("/tmp/boston2.csv" , ["Feature_" + str(i) for i,x in enumerate(metadata["features"])])
lCPPOutput = execute_cpp_code(lCPPCode , "/tmp/boston2.csv")
cpp_output = pd.read_csv(lCPPOutput)

EXECUTING 'g++ -Wall -Wno-unused-function -std=c++17 -g -o /tmp/sklearn2sql_cpp_140413328142192.exe /tmp/sklearn2sql_cpp_140413328142192.cpp'
idx,pca_1,pca_2,pca_3,pca_4,pca_5
0,-119.81884271656078,-5.56005585966894,-3.17269264096042,5.291593
9239
505,-139.19033295278408,1.00906422983957,-29.77243230623298,1.67685973287293,-1.36945810355548

In [10]:
cpp_output.sample(12, random_state=1960)

     idx       pca_1      pca_2      pca_3      pca_4      pca_5
230  230 -102.333423   8.879612 -16.281304  -6.923862   0.596035
112  112   13.745527 -43.665275 -24.509933   6.602741  -4.217776
125  125 -215.234000  37.148391 -45.071566   8.346652   1.961429
9      9 -100.030155  -0.317668 -22.147469  14.314641  -0.028508
213  213 -136.107120  10.717774   7.603810 -29.211960   1.527017
109  109  -30.982288 -26.057784 -27.482307   6.379577  -2.682177
127  127   19.876624 -42.473380 -27.529185   8.288496  -5.154242
244  244  -79.102286   7.745351  -6.285315  14.845547  -1.022418
406  406  245.610067 -88.506506  -8.979658   6.683778  11.399518
490  490  302.175045 -52.107465  -3.250621   4.311247 -12.908547
245  245  -84.338757  -8.095163  -2.468523  11.171724   0.947068
133  133   20.770300 -39.211507 -26.764031   7.799292  -5.634102

In [11]:
skl_outputs = pd.DataFrame()
X = df[metadata['features']].values
skl_output_key = pd.DataFrame(list(range(X.shape[0])), columns=['idx']);

skl_output_transform = pd.DataFrame(clf.transform(X), columns=cpp_output.columns[1:]);
skl_output = pd.concat([skl_output_key, skl_output_transform] , axis=1)
skl_output.sample(12, random_state=1960)

     idx       pca_1      pca_2      pca_3      pca_4      pca_5
230  230 -102.333423   8.879612 -16.281304  -6.923862   0.596035
112  112   13.745527 -43.665275 -24.509933   6.602741  -4.217776
125  125 -215.234000  37.148391 -45.071566   8.346652   1.961429
9      9 -100.030155  -0.317668 -22.147469  14.314641  -0.028508
213  213 -136.107120  10.717774   7.603810 -29.211960   1.527017
109  109  -30.982288 -26.057784 -27.482307   6.379577  -2.682177
127  127   19.876624 -42.473380 -27.529185   8.288496  -5.154242
244  244  -79.102286   7.745351  -6.285315  14.845547  -1.022418
406  406  245.610067 -88.506506  -8.979658   6.683778  11.399518
490  490  302.175045 -52.107465  -3.250621   4.311247 -12.908547
245  245  -84.338757  -8.095163  -2.468523  11.171724   0.947068
133  133   20.770300 -39.211507 -26.764031   7.799292  -5.634102

In [12]:
cpp_skl_join = skl_output.join(cpp_output , how='left', on='idx', lsuffix='_skl', rsuffix='_cpp')

In [13]:
cpp_skl_join.sample(12, random_state=1960)

,idx_skl,pca_1_skl,pca_2_skl,pca_3_skl,pca_4_skl,pca_5_skl,idx_cpp,pca_1_cpp,pca_2_cpp,pca_3_cpp,pca_4_cpp,pca_5_cpp
230,230,-102.333423,8.879612,-16.281304,-6.923862,0.596035,230,-102.333423,8.879612,-16.281304,-6.923862,0.596035
112,112,13.745527,-43.665275,-24.509933,6.602741,-4.217776,112,13.745527,-43.665275,-24.509933,6.602741,-4.217776
125,125,-215.234000,37.148391,-45.071566,8.346652,1.961429,125,-215.234000,37.148391,-45.071566,8.346652,1.961429
9,9,-100.030155,-0.317668,-22.147469,14.314641,-0.028508,9,-100.030155,-0.317668,-22.147469,14.314641,-0.028508
213,213,-136.107120,10.717774,7.603810,-29.211960,1.527017,213,-136.107120,10.717774,7.603810,-29.211960,1.527017
109,109,-30.982288,-26.057784,-27.482307,6.379577,-2.682177,109,-30.982288,-26.057784,-27.482307,6.379577,-2.682177
127,127,19.876624,-42.473380,-27.529185,8.288496,-5.154242,127,19.876624,-42.473380,-27.529185,8.288496,-5.154242
244,244,-79.102286,7.745351,-6.285315,14.845547,-1.022418,244,-79.102286,7.745351,-6.285315,14.845547,-1.022418
406,406,245.610067,-88.506506,-8.979658,6.683778,11.399518,406,245.610067,-88.506506,-8.979658,6.683778,11.399518
490,490,302.175045,-52.107465,-3.250621,4.311247,-12.908547,490,302.175045,-52.107465,-3.250621,4.311247,-12.908547
245,245,-84.338757,-8.095163,-2.468523,11.171724,0.947068,245,-84.338757,-8.095163,-2.468523,11.171724,0.947068
133,133,20.770300,-39.211507,-26.764031,7.799292,-5.634102,133,20.770300,-39.211507,-26.764031,7.799292,-5.634102

In [14]:
for col in cpp_output.columns:
    lDiff = cpp_skl_join[col + "_skl"] - cpp_skl_join[col + "_cpp"]
    print(lDiff.describe())

count    506.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
dtype: float64
count    5.060000e+02
mean    -4.212704e-17
std      1.932190e-14
min     -5.684342e-14
25%     -2.275957e-15
50%      0.000000e+00
75%      0.000000e+00
max      5.684342e-14
dtype: float64
count    5.060000e+02
mean    -5.652593e-17
std      8.075883e-15
min     -2.842171e-14
25%     -2.664535e-15
50%      0.000000e+00
75%      2.664535e-15
max      5.684342e-14
dtype: float64
count    5.060000e+02
mean     4.768775e-17
std      3.772020e-15
min     -1.421085e-14
25%     -3.080869e-15
50%      0.000000e+00
75%      3.483325e-15
max      1.421085e-14
dtype: float64
count    5.060000e+02
mean    -7.492908e-17
std      3.148066e-15
min     -7.105427e-15
25%     -2.664535e-15
50%      0.000000e+00
75%      1.998401e-15
max      7.105427e-15
dtype: float64
count    5.060000e+02
mean     1.376808e-16
std      3.047898e-15
min     -7.105427e-15
25%     -2.664535e-15
50%      3.261280e-16
75%      2.664535e-15
max      1.421085e-14
dtype: float64