# ML2CPP

## Preparing the dataset

In [1]:
from sklearn import datasets
import numpy as np
import pandas as pd

def populate_table(tablename, feature_names):
    iris = datasets.load_iris()
    X = iris.data  
    N = X.shape[0]
    y = iris.target.reshape(N,1)
    k = np.arange(N).reshape(N, 1)
    k_X_y = np.concatenate((k, X, y) , axis=1)
    lTable=pd.DataFrame(k_X_y)
    # print(lTable.head())
    lTable.columns = ['idx'] + feature_names + ['TGT'];
    lTable['TGT'] = lTable['TGT'].apply(int)
    lTable['idx'] = lTable['idx'].apply(int)
    lTable.to_csv(tablename , float_format='%.14g')

In [2]:
metadata = {"primary_key" : "KEY",
            "features" : ['sepal_length_cm', 'sepal_width_cm', 'petal_length_cm', 'petal_width_cm'],
            "targets" : ["TGT"],
            "table" : "iris"}

In [3]:
populate_table("/tmp/iris.csv" , metadata["features"])

In [4]:
df = pd.read_csv("/tmp/iris.csv")
df.sample(12, random_state=1960)

,Unnamed: 0,idx,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,TGT
114,114,114,5.8,2.8,5.1,2.4,2
74,74,74,6.4,2.9,4.3,1.3,1
9,9,9,4.9,3.1,1.5,0.1,0
88,88,88,5.6,3.0,4.1,1.3,1
25,25,25,5.0,3.0,1.6,0.2,0
5,5,5,5.4,3.9,1.7,0.4,0
48,48,48,5.3,3.7,1.5,0.2,0
117,117,117,7.7,3.8,6.7,2.2,2
83,83,83,6.0,2.7,5.1,1.6,1
105,105,105,7.6,3.0,6.6,2.1,2
27,27,27,5.2,3.5,1.5,0.2,0
64,64,64,5.6,2.9,3.6,1.3,1

## Training a Model

In [5]:


# train any scikit model on the iris dataset
from sklearn.preprocessing import MaxAbsScaler
clf = MaxAbsScaler()
clf.fit(df[metadata['features']].values, df[metadata['targets']].values)

MaxAbsScaler()

## Deploying the Model

In [6]:

def generate_cpp_for_model(model):
    import pickle, json, requests, base64
    b64_data = base64.b64encode(pickle.dumps(model)).decode('utf-8')
    # send the model th the web service
    json_data={"Name":"model_cpp_sample", 
               "PickleData":b64_data , 
               "SQLDialect":"CPP",
               "FeatureNames" : metadata['features']}
    r = requests.post("https://sklearn2sql.herokuapp.com/model", json=json_data)
    content = r.json()
    lCPP = content["model"]["SQLGenrationResult"][0]["SQL"]
    # print(lCPP);
    return lCPP


lCPPCode = generate_cpp_for_model(clf);

In [7]:
print(lCPPCode)

namespace  {

	std::vector<std::string> get_input_names(){
		std::vector<std::string> lFeatures = { "Feature_0", "Feature_1", "Feature_2", "Feature_3" };

		return lFeatures;
	}

	std::vector<std::string> get_output_names(){
		std::vector<std::string> lOutputs = { "Feature_0", "Feature_1", "Feature_2", "Feature_3" };

		return lOutputs;
	}

	tTable compute_features(std::any Feature_0, std::any Feature_1, std::any Feature_2, std::any Feature_3) {

		tTable lTable;

		lTable["Feature_0"] = { ( Feature_0 / 7.9 ) };
		lTable["Feature_1"] = { ( Feature_1 / 4.4 ) };
		lTable["Feature_2"] = { ( Feature_2 / 6.9 ) };
		lTable["Feature_3"] = { ( Feature_3 / 2.5 ) };

		return lTable;
	}

	tTable compute_model_outputs_from_table( tTable const & iTable) {
		tTable lTable = compute_features(iTable.at("Feature_0")[0], iTable.at("Feature_1")[0], iTable.at("Feature_2")[0], iTable.at("Feature_3")[0]);

		return lTable;
	}

} // eof namespace

In [8]:
    def write_text_to_file(iCPPCode, oCPPFile):          
        with open(oCPPFile, "w") as text_file:
            text_file.write(iCPPCode)

    def add_cpp_main_function(iCPPCode, iCSVFile):
        lCPPCode = "#include \"Generic.i\"\n\n"
        lCPPCode = lCPPCode + iCPPCode
        lCPPCode = lCPPCode + "\tint main() {\n"
        lCPPCode = lCPPCode + "\t\tscore_csv_file(\"" + iCSVFile +"\");\n"
        lCPPCode = lCPPCode + "\treturn 0;\n}\n"
        return lCPPCode

    def compile_cpp_code_as_executable(iName):
        import subprocess
        lCommand = ["g++", "-Wall", "-Wno-unused-function", "-std=c++17" , "-g" ,  "-o", iName + ".exe",  iName + ".cpp"]
        print("EXECUTING" , "'" + " ".join(lCommand) + "'")
        result = subprocess.check_output(lCommand)
        # print(result)

    def execute_cpp_model(iName, iCSVFile):
        import subprocess
        result2 = subprocess.check_output([iName + ".exe",  iCSVFile])
        result2 = result2.decode()
        print(result2[:1000])
        print(result2[-1000:])
        return result2
        
    def execute_cpp_code(iCPPCode, iCSVFile):
        lName = "/tmp/sklearn2sql_cpp_" + str(id(clf));
        lCPPCode = add_cpp_main_function(iCPPCode, iCSVFile)
        write_text_to_file(lCPPCode, lName + ".cpp")
        compile_cpp_code_as_executable(lName)
        result = execute_cpp_model(lName, iCSVFile)
        write_text_to_file(str(result), lName + ".out")
        return lName + ".out"

In [9]:
populate_table("/tmp/iris2.csv" , ["Feature_0", "Feature_1", "Feature_2", "Feature_3"])
lCPPOutput = execute_cpp_code(lCPPCode , "/tmp/iris2.csv")
cpp_output = pd.read_csv(lCPPOutput)

EXECUTING 'g++ -Wall -Wno-unused-function -std=c++17 -g -o /tmp/sklearn2sql_cpp_139827447746080.exe /tmp/sklearn2sql_cpp_139827447746080.cpp'
idx,Feature_0,Feature_1,Feature_2,Feature_3
0,0.64556962025316,0.79545454545455,0.20289855072464,0.08000000000000
1,0.62025316455696,0.68181818181818,0.20289855072464,0.08000000000000
2,0.59493670886076,0.72727272727273,0.18840579710145,0.08000000000000
3,0.58227848101266,0.70454545454545,0.21739130434783,0.08000000000000
4,0.63291139240506,0.81818181818182,0.20289855072464,0.08000000000000
5,0.68354430379747,0.88636363636364,0.24637681159420,0.16000000000000
6,0.58227848101266,0.77272727272727,0.20289855072464,0.12000000000000
7,0.63291139240506,0.77272727272727,0.21739130434783,0.08000000000000
8,0.55696202531646,0.65909090909091,0.20289855072464,0.08000000000000
9,0.62025316455696,0.70454545454545,0.21739130434783,0.04000000000000
10,0.68354430379747,0.84090909090909,0.21739130434783,0.08000000000000
11,0.60759493670886,0.77272727272727,0.23188405797101,0.08000000000000
12,0.60759493670886,0.68181818181818,0.20289855072464,0.04000000000000
13,0.54430379746835,0.68181818181818,0.1594
746835443038,0.77272727272727,0.81159420289855,0.96000000000000
137,0.81012658227848,0.70454545454545,0.79710144927536,0.72000000000000
138,0.75949367088608,0.68181818181818,0.69565217391304,0.72000000000000
139,0.87341772151899,0.70454545454545,0.78260869565217,0.84000000000000
140,0.84810126582278,0.70454545454545,0.81159420289855,0.96000000000000
141,0.87341772151899,0.70454545454545,0.73913043478261,0.92000000000000
142,0.73417721518987,0.61363636363636,0.73913043478261,0.76000000000000
143,0.86075949367089,0.72727272727273,0.85507246376812,0.92000000000000
144,0.84810126582278,0.75000000000000,0.82608695652174,1.00000000000000
145,0.84810126582278,0.68181818181818,0.75362318840580,0.92000000000000
146,0.79746835443038,0.56818181818182,0.72463768115942,0.76000000000000
147,0.82278481012658,0.68181818181818,0.75362318840580,0.80000000000000
148,0.78481012658228,0.77272727272727,0.78260869565217,0.92000000000000
149,0.74683544303797,0.68181818181818,0.73913043478261,0.72000000000000

In [10]:
cpp_output.sample(12, random_state=1960)

     idx  Feature_0  Feature_1  Feature_2  Feature_3
114  114   0.734177   0.636364   0.739130       0.96
74    74   0.810127   0.659091   0.623188       0.52
9      9   0.620253   0.704545   0.217391       0.04
88    88   0.708861   0.681818   0.594203       0.52
25    25   0.632911   0.681818   0.231884       0.08
5      5   0.683544   0.886364   0.246377       0.16
48    48   0.670886   0.840909   0.217391       0.08
117  117   0.974684   0.863636   0.971014       0.88
83    83   0.759494   0.613636   0.739130       0.64
105  105   0.962025   0.681818   0.956522       0.84
27    27   0.658228   0.795455   0.217391       0.08
64    64   0.708861   0.659091   0.521739       0.52

In [11]:
skl_outputs = pd.DataFrame()
X = df[metadata['features']].values
skl_output_key = pd.DataFrame(list(range(X.shape[0])), columns=['idx']);

skl_output_transform = pd.DataFrame(clf.transform(X), columns=cpp_output.columns[1:]);
skl_output = pd.concat([skl_output_key, skl_output_transform] , axis=1)
skl_output.sample(12, random_state=1960)

     idx  Feature_0  Feature_1  Feature_2  Feature_3
114  114   0.734177   0.636364   0.739130       0.96
74    74   0.810127   0.659091   0.623188       0.52
9      9   0.620253   0.704545   0.217391       0.04
88    88   0.708861   0.681818   0.594203       0.52
25    25   0.632911   0.681818   0.231884       0.08
5      5   0.683544   0.886364   0.246377       0.16
48    48   0.670886   0.840909   0.217391       0.08
117  117   0.974684   0.863636   0.971014       0.88
83    83   0.759494   0.613636   0.739130       0.64
105  105   0.962025   0.681818   0.956522       0.84
27    27   0.658228   0.795455   0.217391       0.08
64    64   0.708861   0.659091   0.521739       0.52

In [12]:
cpp_skl_join = skl_output.join(cpp_output , how='left', on='idx', lsuffix='_skl', rsuffix='_cpp')

In [13]:
cpp_skl_join.sample(12, random_state=1960)

,idx_skl,Feature_0_skl,Feature_1_skl,Feature_2_skl,Feature_3_skl,idx_cpp,Feature_0_cpp,Feature_1_cpp,Feature_2_cpp,Feature_3_cpp
114,114,0.734177,0.636364,0.739130,0.96,114,0.734177,0.636364,0.739130,0.96
74,74,0.810127,0.659091,0.623188,0.52,74,0.810127,0.659091,0.623188,0.52
9,9,0.620253,0.704545,0.217391,0.04,9,0.620253,0.704545,0.217391,0.04
88,88,0.708861,0.681818,0.594203,0.52,88,0.708861,0.681818,0.594203,0.52
25,25,0.632911,0.681818,0.231884,0.08,25,0.632911,0.681818,0.231884,0.08
5,5,0.683544,0.886364,0.246377,0.16,5,0.683544,0.886364,0.246377,0.16
48,48,0.670886,0.840909,0.217391,0.08,48,0.670886,0.840909,0.217391,0.08
117,117,0.974684,0.863636,0.971014,0.88,117,0.974684,0.863636,0.971014,0.88
83,83,0.759494,0.613636,0.739130,0.64,83,0.759494,0.613636,0.739130,0.64
105,105,0.962025,0.681818,0.956522,0.84,105,0.962025,0.681818,0.956522,0.84
27,27,0.658228,0.795455,0.217391,0.08,27,0.658228,0.795455,0.217391,0.08
64,64,0.708861,0.659091,0.521739,0.52,64,0.708861,0.659091,0.521739,0.52

In [14]:
for col in cpp_output.columns:
    lDiff = cpp_skl_join[col + "_skl"] - cpp_skl_join[col + "_cpp"]
    print(lDiff.describe())

count    150.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
dtype: float64
count    1.500000e+02
mean     4.996004e-16
std      2.823318e-15
min     -4.329870e-15
25%     -1.665335e-15
50%      7.771561e-16
75%      3.108624e-15
max      4.773959e-15
dtype: float64
count    1.500000e+02
mean     2.435089e-16
std      2.860026e-15
min     -4.662937e-15
25%     -2.525757e-15
50%      8.881784e-16
75%      2.664535e-15
max      4.551914e-15
dtype: float64
count    1.500000e+02
mean    -3.254804e-16
std      2.863706e-15
min     -4.773959e-15
25%     -2.331468e-15
50%     -7.216450e-16
75%      2.331468e-15
max      4.662937e-15
dtype: float64
count    1.500000e+02
mean    -5.551115e-18
std      4.758764e-17
min     -1.110223e-16
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.110223e-16
dtype: float64