# ML2CPP

## Preparing the dataset

In [1]:
from sklearn import datasets
import numpy as np
import pandas as pd

def populate_table(tablename, feature_names):
    iris = datasets.load_iris()
    X = iris.data  
    N = X.shape[0]
    y = iris.target.reshape(N,1)
    k = np.arange(N).reshape(N, 1)
    k_X_y = np.concatenate((k, X, y) , axis=1)
    lTable=pd.DataFrame(k_X_y)
    # print(lTable.head())
    lTable.columns = ['idx'] + feature_names + ['TGT'];
    lTable['TGT'] = lTable['TGT'].apply(int)
    lTable['idx'] = lTable['idx'].apply(int)
    lTable.to_csv(tablename , float_format='%.14g')

In [2]:
metadata = {"primary_key" : "KEY",
            "features" : ['sepal_length_cm', 'sepal_width_cm', 'petal_length_cm', 'petal_width_cm'],
            "targets" : ["TGT"],
            "table" : "iris"}

In [3]:
populate_table("/tmp/iris.csv" , metadata["features"])

In [4]:
df = pd.read_csv("/tmp/iris.csv")
df.sample(12, random_state=1960)

,Unnamed: 0,idx,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,TGT
114,114,114,5.8,2.8,5.1,2.4,2
74,74,74,6.4,2.9,4.3,1.3,1
9,9,9,4.9,3.1,1.5,0.1,0
88,88,88,5.6,3.0,4.1,1.3,1
25,25,25,5.0,3.0,1.6,0.2,0
5,5,5,5.4,3.9,1.7,0.4,0
48,48,48,5.3,3.7,1.5,0.2,0
117,117,117,7.7,3.8,6.7,2.2,2
83,83,83,6.0,2.7,5.1,1.6,1
105,105,105,7.6,3.0,6.6,2.1,2
27,27,27,5.2,3.5,1.5,0.2,0
64,64,64,5.6,2.9,3.6,1.3,1

## Training a Model

In [5]:

from sklearn.svm import OneClassSVM

clf = OneClassSVM()

# train any scikit model on the iris dataset
clf.fit(df[metadata['features']].values, df[metadata['targets']].values)

OneClassSVM()

## Deploying the Model

In [6]:

def generate_cpp_for_model(model):
    import pickle, json, requests, base64
    b64_data = base64.b64encode(pickle.dumps(model)).decode('utf-8')
    # send the model th the web service
    json_data={"Name":"model_cpp_sample", 
               "PickleData":b64_data , 
               "SQLDialect":"CPP",
               "FeatureNames" : metadata['features']}
    r = requests.post("https://sklearn2sql.herokuapp.com/model", json=json_data)
    content = r.json()
    lCPP = content["model"]["SQLGenrationResult"][0]["SQL"]
    # print(lCPP);
    return lCPP


lCPPCode = generate_cpp_for_model(clf);

In [7]:
print(lCPPCode)

namespace  {

	std::vector<std::any> lProblem_data_dual = {
	 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 0.9345504106360158 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 0.06544958936398419 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 , 1.0 ,};


	std::vector<std::vector<std::any> > lProblem_data_sv = {
	 { 5.1, 3.5, 1.4, 0.2 },
	 { 4.9, 3.0, 1.4, 0.2 },
	 { 4.7, 3.2, 1.3, 0.2 },
	 { 4.6, 3.1, 1.5, 0.2 },
	 { 5.0, 3.6, 1.4, 0.2 },
	 { 4.6, 3.4, 1.4, 0.3 },
	 { 4.4, 2.9, 1.4, 0.2 },
	 { 4.9, 3.1, 1.5, 0.1 },
	 { 5.4, 3.7, 1.5, 0.2 },
	 { 4.8, 3.4, 1.6, 0.2 },
	 { 4.8, 3.0, 1.4, 0.1 },
	 { 4.3, 3.0, 1.1, 0.1 },
	 { 5.8, 4.0, 1.2, 0.2 },
	 { 5.7, 4.4, 1.5, 0.4 },
	 { 5.4, 3.9, 1.3, 0.4 },
	 { 5.1, 3.5, 1.4, 0.3 },
	 { 5.7, 3.8, 1.7, 0.3 },
	 { 5.1, 3.8, 1.5, 0.3 },
	 { 4.6, 3.6, 1.0, 0.2 },
	 { 5.2, 3.4, 1.4, 0.2 },
	 { 4.7, 3.2, 1.6, 0.2 },
	 { 4.8, 3.1, 1.6, 0.2 },
	 { 5.2, 4.1, 1.5, 0.1 },
	 { 5.5, 4.2, 1.4, 0.2 },
	 { 4.9, 3.1, 1.5, 0.2 },
	 { 5.0, 3.2, 1.2, 0.2 },
	 { 5.5, 3.5, 1.3, 0.2 },
	 { 4.9, 3.6, 1.4, 0.1 },
	 { 4.4, 3.0, 1.3, 0.2 },
	 { 5.0, 3.5, 1.3, 0.3 },
	 { 4.5, 2.3, 1.3, 0.3 },
	 { 4.4, 3.2, 1.3, 0.2 },
	 { 4.8, 3.0, 1.4, 0.3 },
	 { 5.1, 3.8, 1.6, 0.2 },
	 { 4.6, 3.2, 1.4, 0.2 },
	 { 5.3, 3.7, 1.5, 0.2 },
	 { 5.0, 3.3, 1.4, 0.2 },
	 { 5.0, 2.0, 3.5, 1.0 },
	 { 6.3, 3.3, 6.0, 2.5 },
	 { 7.1, 3.0, 5.9, 2.1 },
	 { 6.3, 2.9, 5.6, 1.8 },
	 { 6.5, 3.0, 5.8, 2.2 },
	 { 7.6, 3.0, 6.6, 2.1 },
	 { 4.9, 2.5, 4.5, 1.7 },
	 { 7.3, 2.9, 6.3, 1.8 },
	 { 6.7, 2.5, 5.8, 1.8 },
	 { 7.2, 3.6, 6.1, 2.5 },
	 { 6.4, 2.7, 5.3, 1.9 },
	 { 6.8, 3.0, 5.5, 2.1 },
	 { 5.7, 2.5, 5.0, 2.0 },
	 { 5.8, 2.8, 5.1, 2.4 },
	 { 6.4, 3.2, 5.3, 2.3 },
	 { 6.5, 3.0, 5.5, 1.8 },
	 { 7.7, 3.8, 6.7, 2.2 },
	 { 7.7, 2.6, 6.9, 2.3 },
	 { 6.0, 2.2, 5.0, 1.5 },
	 { 6.9, 3.2, 5.7, 2.3 },
	 { 7.7, 2.8, 6.7, 2.0 },
	 { 6.7, 3.3, 5.7, 2.1 },
	 { 7.2, 3.2, 6.0, 1.8 },
	 { 6.4, 2.8, 5.6, 2.1 },
	 { 7.2, 3.0, 5.8, 1.6 },
	 { 7.4, 2.8, 6.1, 1.9 },
	 { 7.9, 3.8, 6.4, 2.0 },
	 { 6.4, 2.8, 5.6, 2.2 },
	 { 6.1, 2.6, 5.6, 1.4 },
	 { 7.7, 3.0, 6.1, 2.3 },
	 { 6.3, 3.4, 5.6, 2.4 },
	 { 6.4, 3.1, 5.5, 1.8 },
	 { 6.9, 3.1, 5.4, 2.1 },
	 { 6.7, 3.1, 5.6, 2.4 },
	 { 6.9, 3.1, 5.1, 2.3 },
	 { 6.8, 3.2, 5.9, 2.3 },
	 { 6.7, 3.3, 5.7, 2.5 },
	 { 6.7, 3.0, 5.2, 2.3 },
	 { 6.2, 3.4, 5.4, 2.3 },
	};


	std::vector<std::string> get_input_names(){
		std::vector<std::string> lFeatures = { "Feature_0", "Feature_1", "Feature_2", "Feature_3" };

		return lFeatures;
	}

	std::vector<std::string> get_output_names(){
		std::vector<std::string> lOutputs = {
			"AnomalyScore","OutlierIndicator" };

		return lOutputs;
	}

	tTable compute_outlier_scores(std::any Feature_0, std::any Feature_1, std::any Feature_2, std::any Feature_3) {
		std::vector<std::any> inputs = { Feature_0, Feature_1, Feature_2, Feature_3 };

		std::any lDotProduct = rbf_kernel( lProblem_data_dual, lProblem_data_sv, inputs, 0.06416744863614975 ) + -44.517533261328936;


		tTable lTable;

		lTable["AnomalyScore"] = { lDotProduct } ;
		lTable["OutlierIndicator"] = { ( lDotProduct >= 0.0) ? 1 : -1 } ;

		return lTable;
	}

	tTable compute_model_outputs_from_table( tTable const & iTable) {
		tTable lTable = compute_outlier_scores(iTable.at("Feature_0")[0], iTable.at("Feature_1")[0], iTable.at("Feature_2")[0], iTable.at("Feature_3")[0]);

		return lTable;
	}

} // eof namespace

In [8]:
    def write_text_to_file(iCPPCode, oCPPFile):          
        with open(oCPPFile, "w") as text_file:
            text_file.write(iCPPCode)

    def add_cpp_main_function(iCPPCode, iCSVFile):
        lCPPCode = "#include \"Generic.i\"\n\n"
        lCPPCode = lCPPCode + iCPPCode
        lCPPCode = lCPPCode + "\tint main() {\n"
        lCPPCode = lCPPCode + "\t\tscore_csv_file(\"" + iCSVFile +"\");\n"
        lCPPCode = lCPPCode + "\treturn 0;\n}\n"
        return lCPPCode

    def compile_cpp_code_as_executable(iName):
        import subprocess
        lCommand = ["g++", "-Wall", "-Wno-unused-function", "-std=c++17" , "-g" ,  "-o", iName + ".exe",  iName + ".cpp"]
        print("EXECUTING" , "'" + " ".join(lCommand) + "'")
        result = subprocess.check_output(lCommand)
        # print(result)

    def execute_cpp_model(iName, iCSVFile):
        import subprocess
        result2 = subprocess.check_output([iName + ".exe",  iCSVFile])
        result2 = result2.decode()
        print(result2[:1000])
        print(result2[-1000:])
        return result2
        
    def execute_cpp_code(iCPPCode, iCSVFile):
        lName = "/tmp/sklearn2sql_cpp_" + str(id(clf));
        lCPPCode = add_cpp_main_function(iCPPCode, iCSVFile)
        write_text_to_file(lCPPCode, lName + ".cpp")
        compile_cpp_code_as_executable(lName)
        result = execute_cpp_model(lName, iCSVFile)
        write_text_to_file(str(result), lName + ".out")
        return lName + ".out"

In [9]:
populate_table("/tmp/iris2.csv" , ["Feature_0", "Feature_1", "Feature_2", "Feature_3"])
lCPPOutput = execute_cpp_code(lCPPCode , "/tmp/iris2.csv")
cpp_output = pd.read_csv(lCPPOutput)

EXECUTING 'g++ -Wall -Wno-unused-function -std=c++17 -g -o /tmp/sklearn2sql_cpp_140625027087232.exe /tmp/sklearn2sql_cpp_140625027087232.cpp'
idx,AnomalyScore,OutlierIndicator
0,-0.34323780111765,-1
1,-0.76620153358461,-1
2,-1.39860335283394,-1
3,-1.02110917929168,-1
4,-0.57323878814235,-1
5,0.25354493881046,1
6,-1.13691136835318,-1
7,0.02613937420360,1
8,-2.46755916466066,-1
9,-0.45538736610649,-1
10,-0.26124668409760,-1
11,-0.00627556327994,-1
12,-1.17793271027331,-1
13,-4.10280702926477,-1
14,-3.21288283440612,-1
15,-3.17108134207523,-1
16,-1.37581488301602,-1
17,-0.17801968917610,-1
18,-0.00000031297016,-1
19,-0.33890384040303,-1
20,0.88336069368934,1
21,0.02479113206537,1
22,-3.25215304605427,-1
23,1.28981112379763,1
24,0.80029316795027,1
25,0.14815288416468,1
26,0.69558526880331,1
27,0.11027363512144,1
28,-0.22081487754398,-1
29,-0.28498808876470,-1
30,-0.09809518364322,-1
31,0.45673637603277,1
32,-1.71654677463784,-1
33,-2.48649679258551,-1
34,-0.23238236435215,-1
35,-1.27995437224102,-1
36,-0.93184061838856,-1
37,-0.93404794988052,-1
38,-2.65776796251320,-1
39,0.13384853450310,1
40,-0.71611612146103,-1
41,-4.51632769
.16137512967278,-1
110,0.72849440911667,1
111,-0.00000006384032,-1
112,-1.11051665168259,-1
113,-0.64182668633214,-1
114,-1.27234937035327,-1
115,-0.55955857761589,-1
116,-0.26430061989948,-1
117,-11.01050184287872,-1
118,-11.63786101776156,-1
119,-0.77771896730673,-1
120,-2.51207449574227,-1
121,0.11138865604320,1
122,-9.86603729843548,-1
123,1.26289846866750,1
124,-1.75473872414867,-1
125,-3.97039415381131,-1
126,1.71811860058681,1
127,1.71165081501304,1
128,-1.21888920623107,-1
129,-3.17719388242985,-1
130,-5.38212506074236,-1
131,-10.31415088921353,-1
132,-1.45050968860929,-1
133,1.05893542695261,1
134,-1.56740224880318,-1
135,-7.11984606947510,-1
136,-2.14114882433503,-1
137,-0.18498029541293,-1
138,1.88508761961842,1
139,-1.03550066015482,-1
140,-2.06067914768709,-1
141,-0.91872637389497,-1
142,0.08376607367230,1
143,-3.10146008081603,-1
144,-2.89442395410921,-1
145,-0.63896098455497,-1
146,0.30292796078067,1
147,0.46910550475743,1
148,-1.14677805324843,-1
149,0.88193587231321,1

In [10]:
cpp_output.sample(12, random_state=1960)

     idx  AnomalyScore  OutlierIndicator
114  114     -1.272349                -1
74    74      2.705024                 1
9      9     -0.455387                -1
88    88      3.237676                 1
25    25      0.148153                 1
5      5      0.253545                 1
48    48     -0.210193                -1
117  117    -11.010502                -1
83    83      0.746726                 1
105  105     -8.752248                -1
27    27      0.110274                 1
64    64      3.670409                 1

In [11]:
skl_outputs = pd.DataFrame()
X = df[metadata['features']].values
skl_output_key = pd.DataFrame(list(range(X.shape[0])), columns=['idx']);

skl_output_outlier_indicator = pd.DataFrame(clf.predict(X), columns=['OutlierIndicator'])
skl_output_outlier_score = pd.DataFrame(clf.decision_function(X), columns=['AnomalyScore'])
skl_output = pd.concat([skl_output_key, skl_output_outlier_score, skl_output_outlier_indicator] , axis=1)
skl_output.sample(12, random_state=1960)

     idx  AnomalyScore  OutlierIndicator
114  114     -1.272349                -1
74    74      2.705024                 1
9      9     -0.455387                -1
88    88      3.237676                 1
25    25      0.148153                 1
5      5      0.253545                 1
48    48     -0.210193                -1
117  117    -11.010502                -1
83    83      0.746726                 1
105  105     -8.752248                -1
27    27      0.110274                 1
64    64      3.670409                 1

In [12]:
cpp_skl_join = skl_output.join(cpp_output , how='left', on='idx', lsuffix='_skl', rsuffix='_cpp')

In [13]:
cpp_skl_join.sample(12, random_state=1960)

,idx_skl,AnomalyScore_skl,OutlierIndicator_skl,idx_cpp,AnomalyScore_cpp,OutlierIndicator_cpp
114,114,-1.272349,-1,114,-1.272349,-1
74,74,2.705024,1,74,2.705024,1
9,9,-0.455387,-1,9,-0.455387,-1
88,88,3.237676,1,88,3.237676,1
25,25,0.148153,1,25,0.148153,1
5,5,0.253545,1,5,0.253545,1
48,48,-0.210193,-1,48,-0.210193,-1
117,117,-11.010502,-1,117,-11.010502,-1
83,83,0.746726,1,83,0.746726,1
105,105,-8.752248,-1,105,-8.752248,-1
27,27,0.110274,1,27,0.110274,1
64,64,3.670409,1,64,3.670409,1

In [14]:
condition = (cpp_skl_join.OutlierIndicator_cpp != cpp_skl_join.OutlierIndicator_skl)
cpp_skl_join[condition]

Empty DataFrame
Columns: [idx_skl, AnomalyScore_skl, OutlierIndicator_skl, idx_cpp, AnomalyScore_cpp, OutlierIndicator_cpp]
Index: []